body{
      color: rgb(255, 255, 255);
      background-color: black;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: justify;
    
}


Ul{

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}


.logo {
     url('./BG\ PG\ DESNUBOOKS.png');
    height:120px;
    width:200px;
    float:left;
    align-items: center;
    background:rgb(128, 11, 93);
}

.menu {
    width: 100%;
    background:rgb(85, 218, 85);
    text-align: center;
  
}

.menu-top  {
    height:100px;
    text-align: center;
    
}

/* 
    diferenciar apenas o visual do menu superior e do inferior
*/
.menu-top {
    
    background:rgb(133, 34, 227);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;   
    margin: auto;  


}
.menu-bot {
    
    background:#6deb5d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: auto; 
   
}

.container {
padding: 0px 50px;

}

.example {
    text-align: center;
    border: solid;
  }
  


nav a:hover {
    color: purple;
}

.center {
    text-align: center;

}

.img {
    width: 100px;
    height: 150px;
}

.menu-bot {
text-align: center; 


}

